{% extends "home/base.html" %}
{% block content %}
<div class="container mt-5 admin-page">
    <h2 class="text-center">Funciones de Especialistas</h2>
    <div class="row mt-4 d-flex justify-content-center">
        <div class="col-md-3">
            <a href="{% url 'horarios_semana' %}" class="btn admin-btn btn-block">Horarios Medicos</a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'especialista_historial' %}" class="btn admin-btn btn-block">Historial Atenciones</a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'especialista_lista_espera' %}" class="btn admin-btn btn-block">Lista espera / Notificación</a>
        </div>
    </div>
</div>
{% endblock %}
